<div class="thoughts-container">
  <div id="quote-photo">
    <img class="img-circle center-block img-responsive" src="images/Quotes/douglas-demaio_square.jpg"/>
  </div>
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        There is a strong sense of gratitude and admiration I have toward the KDE community. From originators to newcomers, every person I had the pleasure of meeting associated with KDE chooses to make the world a better place through selfless action. In short, KDE makes the world a better place. A huge thank you for the inspiration each of you give and the commitment Konqis make toward software freedom.
      </p>
      <hr>
      <div>
        <p class="float-xs-left">
          <i>Douglas DeMaio, openSUSE Project Coordinator/Manager/Marketing</i>
        </p>
      </div>
    </blockquote>
  </div>
</div>

<div class="thoughts-container">
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        The FSF is a proud supporter of the work KDE does for the free software community. KDE is empowering people every day to have more control over their devices. They do this work with passion and with skill, collaborating with volunteers all over the world, proving on a daily basis that if a community sets their mind to driving change, they will.
      </p>
      <hr>
      <div>
        <p class="float-xs-left">
          <i>Zoë Kooyman, FSF Executive Director</i>
        </p>
      </div>
    </blockquote>
  </div>
  <div id="quote-photo">
    <img class="img-circle center-block img-responsive" src="images/Quotes/Zoe_square.jpg"/>
  </div>
</div>

<div class="thoughts-container">
  <div id="quote-photo">
    <img class="img-circle center-block img-responsive" src="images/Quotes/tuxedo_feiler_square.jpg"/>
  </div>
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        Not just that we became KDE patron  - our TUXEDO_OS will be from now on with KDE Plasma Desktop, as it offers a wealth of customization options. In addition, KDE Plasma Desktop enjoys great popularity alongside Gnome.
      </p>
      <p class="block-text">
        The change to the KDE Plasma Desktop not only meets customer requirements, but also provides an opportunity to initiate a large development project that can be carried out in cooperation with the community. This will result in a product that can meet and satisfy all requirements.
      </p>
      <hr>
      <div>
        <p class="float-xs-left">
          <i>Herbert Feiler, CEO TUXEDO Computers</i>
        </p>
      </div>
    </blockquote>
  </div>
</div>


<div class="thoughts-container">
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        Thanks to KDE e.V. and the amazing KDE community, since 2017 we were able to ship open-source notebooks and smartphones pre-installed with Plasma Desktop and Plasma Mobile, which has always integrated well with our product range.
      </p>
      <hr>
      <div>
        <p class="float-xs-left">
          <i>Marek Kraus, PINE64</i>
        </p>
      </div>
    </blockquote>
  </div>
  <div id="quote-photo">
    <img class="img-circle center-block img-responsive" src="images/Quotes/marek_square.jpg"/>
  </div>
</div>

<div class="thoughts-container">
  <div id="quote-photo">
    <img class="img-circle center-block img-responsive" src="images/Quotes/TuukkaTurunen_square.jpg"/>
  </div>
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        We are very happy that KDE is actively working to migrate their frameworks and applications to use Qt 6 and value KDE's feedback and contributions that help improve Qt.
      </p>
      <hr>
      <div>
        <p class="float-xs-left">
          <i>Tuukka Turunen, Senior Vice President R&D of The Qt Company</i>
        </p>
      </div>
    </blockquote>
  </div>
</div>
