.tags a {
  border: 1px solid #ddd;
  display: inline-block;
  color: #000;
  font-size: small;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(180,180,180,.1);
  transition: all .1s ease-in-out;
  border-radius: 2px;
  margin: 0 3px 6px 0;
  padding: 5px 10px;
}