<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://userbase.kde.org/KTechlab/en" target="_blank"><img src="images/kde-logo.png"/> KTechLab</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p><a href="https://userbase.kde.org/KTechlab/en" target="_blank">KTechLab</a> is an IDE for micro-controllers and electronics. It allows quick editing and simulation of electronic circuits, including circuits with PIC micro-controllers in them. The programs running on the PIC micro-controller can be either graphically drawn as flowcharts, or edited as text in the C programming language, assembly code, or the custom language targeted for beginners called "microbe". In the circuits, all voltages and currents are displayed in real-time. Additionally, when simulating a PIC micro-controller, the program running on the micro-controller can be thoroughly inspected. In 2017, KTechLab completed the process of joining KDE. All of the project's assets are now hosted on KDE infrastructure. The project's codebase has been ported from KDE3/Qt3 to KDE4/Qt4, making the application much easier to use on modern operating systems. The porting effort resulted in a new release (0.40.0), and the work on porting KTechLab to KF5/Qt5 is currently in progress.</p>
                </div>
            </div>
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/ktechlab.png" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>KTechLab</h3>
                                    <p>New KDE incubation!</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/ktechlab.png" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
