{{ define "main" }}
<main id="home">
  <section class="container mb-5">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </section>
  <section class="section-green">
    <div class="container py-2">
      <h2>{{ i18n "news" }}</h2>
      <div class="row">
      {{ $pages := (.Site.GetPage "/news").RegularPagesRecursive }}
      {{- if ne .Site .Sites.First }}
      {{ $pages = $pages | lang.Merge (index (.Site.GetPage "/news").AllTranslations 0).RegularPagesRecursive }}
      {{- end }}
      {{ range first 4 (where $pages "Params.hidden" "ne" "true") }}
        <div class="col-12 col-md-6 mb-4">
          <h3 class="mt-1 h4"><a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></h3>
          <div class="text-lighter">
            {{ partial "i18n_date.html" . }}
            {{- with .Params.author -}}&emsp;|&emsp;{{ . }}{{- end -}}
            {{- if .Params.tags -}}
              &emsp;|&emsp;Tags:
              {{- range .Params.tags }}
              &nbsp;<a href="/tags/{{ . | urlize }}/">{{ . }}</a>
              {{- end -}}
            {{ end }}
          </div>
          <div class="post-entry mt-3">
            {{ if .Description }}
              {{ .Description }}
            {{ else }}
              {{ .Summary | markdownify }}
            {{ end }}
            {{ if .Truncated }}
              <a href="{{ .RelPermalink }}" class="d-block mt-2">{{ i18n "read-more" }}</a>
            {{ end }}
          </div>
        </div>
      {{end}}
      </div>
      <a href="news/" class="learn-more mt-3" style="font-weight: bold;">&#x1F4E2; {{ i18n "news.view" }}</a>
    </div>
  </section>

  <section class="container">
    <h2>Quick Links</h2>
    <div class="row mb-3">
      <div class="col-12 col-sm-6">
        <div><a href="/contact/">Contact KDE e.V.</a></div>
        <div><a href="/corporate/board/">Board of Directors</a></div>
        <div><a href="/corporate/statutes/">Statutes of Association</a></div>
        <div><a href="/whatiskdeev/">Mission Statement</a></div>
      </div>

      <div class="col-12 col-sm-6">
        <div><a href="/reports/">Reports</a></div>
        <div><a href="/resources/supporting_member_application.pdf">New Supporting Member</a></div>
        <div><a href="/resources/ev-questionnaire.text">New Member</a></div>
        <div><a href="/members/">Current Members</a></div>
      </div>
    </div>
  </section>
</main>
{{ end }}
