<br id="sysadmin-report"/>
<br/>
<br/>
<div class="heading wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
    <div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Sysadmin Working Group</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-info">
                <p>2016 has been a busy year for the sysadmins. We were primarily focused on consolidating systems and eliminating technical debt we've accumulated over the past couple of years. In the coming year, we intend to keep consolidating our services to minimize maintenance effort while maximizing the level of quality we deliver. As part of this, in 2016 we phased out several systems:</p>
                <ul>
                    <li>Chiliproject (projects.kde.org), </li>
                    <li>Trellis (sysadmin tickets),</li>
                    <li>Mantis (bugs.kdenlive.org),</li>
                    <li>Sprints (sprints.kde.org)</li>
                    <li>and Kanboard (todo.kde.org).</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-info">
                <p>SA series of systems were also rebuilt on their latest versions, with the upgrade to Bugzilla 5.0 for bugs.kde.org as the most obvious change. Some systems were fully replaced. KDETalk.net is now on Prosody instead of eJabberd, and CGit replaced GitPHP for lightweight repository browsing. Both changes helped us reduce resource utilization and improve functionality. Several sites were migrated away from the now-unsupported Drupal 6 platform, and only one site continues to use it. As every year, new systems were introduced. With the acceptance of KDE neon as a KDE project, we've provisioned hosting for Git repositories, ISO images and package archives, as well as some other associated services. At the request of Marble developers, we also set up a new system to handle the hosting of new maps which they're currently working on.</p>
            </div>
        </div>
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-info">
                <p>Phabricator has been a major endeavour this year, with the test instance having been migrated to its final home and various preparations made for its final implementation. Now that the improvements and requirements for KDE to fully adopt Phabricator have been completed upstream, we can begin the process of migration in earnest. Towards the end of the year, we have deployed Collabora Online for our NextCloud instance. We expect to phase out our Etherpad instance (notes.kde.org) shortly in favour of Collabora. We've also had to tackle some changes to keep our systems usable. The largest and most invasive of these was our change in SSL provider from Startcom to a combination of COMODO and LetsEncrypt certificates. Unfortunately, Google announced they will require Certificate Transparency signatures on all certificates in 2017, and currently neither COMODO or LetsEncrypt provide this. Therefore, it is possible that another change will be required. We also reconfigured all our Mailman lists to minimize compliance problems with DMARC protected domains. This ensures that everyone can equally participate in our mailing lists.</p>
            </div>
        </div>
    </div>
    <section id="sysadmin-report-ref">
        <div class="container">
            <div class="heading wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="row count">
                    <div class="col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <i class="fa fa-cogs"></i>
                        <h3 class="timer">117</h3>
                        <p>Developer accounts created</p>
                    </div>
                    <div class="col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <i class="fa fa-cogs"></i>
                        <h3 class="timer">15</h3>
                        <p>Developer accounts disabled</p>
                    </div>
                </div>
                <div class="row count">
                    <div class="col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <i class="fa fa-envelope-o"></i>
                        <h3 class="timer">4</h3>
                        <p>kdemail.net aliases created</p>
                    </div>
                    <div class="col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <i class="fa fa-envelope-o"></i>
                        <h3 class="timer">1</h3>
                        <p>kdemail.net alias disabled</p>
                    </div>
                </div>
                <div class="row count">
                    <div class="col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <i class="fa fa-envelope-o"></i>
                        <h3 class="timer">10</h3>
                        <p>kde.org aliases created</p>
                    </div>
                    <div class="col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <i class="fa fa-envelope-o"></i>
                        <h3 class="timer">3</h3>
                        <p>kde.org aliases disabled</p>
                    </div>
                    <div class="col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <i class="fa fa-envelope-o"></i>
                        <h3 class="timer">23</h3>
                        <p>kde.org aliases modified</p>
                    </div>
                </div>
                <div class="row count">
                    <div class="col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <i class="fa fa-comments-o"></i>
                        <h3 class="timer">11</h3>
                        <p>kde.org mailing lists created
                            <br/>
                            <i class="italic">gcompris-espanol, wikitolearn-core, w2l-editors, kde-soc-management, neon-bugs, w2l-editors-it, distributions, antispam-taskforce, advisory-board-contacts, ktechlab-devel, kairo-devel</i>
                        </p>
                    </div>
                    <div class="col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <i class="fa fa-comments-o"></i>
                        <h3 class="timer">9</h3>
                        <p>kde.org mailing lists disabled
                            <br/>
                            <i class="italic">kde-extra-gear, necessitas-devel, macaw-movies, kde-fr-announce, solidkreator, evolve, kde-ev-supporters, digest, lokalize</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
